﻿<html lang="en" ng-app="app">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <link rel="stylesheet" href="~/Content/StyleHome.css" />
</head>

<body ng-controller="UsersCtrl">
    <br>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="zui-table1 table table-bordered" align="center">
                <thead>
                    <tr>
                        <th class="col-1">Alert</th>
                        <th class="col-1">Camera</th>
                        <th class="col-1">Time</th>
                        <th class="col-1">Plate</th>
                        <th class="col-1">Model</th>
                    </tr>
                </thead>
                <tbody ng-repeat="user in users" ng-switch on="isSelUser(user)" ng-click="selUser(user,$index,user.img)">
                    <tr ng-class="{sel:selIdx==$index}">
                        <td>{{user.alertID}}</td>
                        <td>{{user.camera}}</td>
                        <td>{{user.time}}</td>
                        <td>{{user.plate}}</td>
                        <td>{{user.model}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    {{data}}
    <div class="container">
        <div class="row">

            <div class="col-sm-2 col-sm-offset-1">

                <table class="zui-table">
                    <thead>
                        <tr>
                            <th class="col-1">Vehicle Picture</th>
                        </tr>
                    </thead>
                </table>
                <div class="card">
                    <img ng-src="{{selectedUser.img}}">
                </div>
                <br> <br>
                <table class="zui-table">
                    <thead>
                        <tr>
                            <th class="col-1">Plate Picture</th>
                        </tr>
                    </thead>
                </table>
                <img ng-src="{{selectedUser.plateImg}}">

            </div>
            <div class="col-sm-offset-6">
                <table class="zui-table">
                    <thead>
                        <tr>
                            <th class="col-1">Vehicle Plate</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="user in users" ng-switch on="isSelUser(user)" ng-click="selUser(user,$index)">
                        <tr ng-switch-when="true">
                            <td> Vehicle plate: </td>
                            <td colspan="2" class="desc">{{user.plate}}</td>
                        </tr>
                        <tr ng-switch-when="true">
                            <td> Model:</td>
                            <td colspan="2" class="desc">{{user.model}}</td>
                        </tr>
                        <tr ng-switch-when="true">
                            <td>Year: </td>
                            <td colspan="2" class="desc">{{user.year}}</td>
                        </tr>
                        <tr ng-switch-when="true">
                            <td>Colour: </td>
                            <td colspan="2" class="desc">{{user.colour}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="zui-table">
                    <thead>
                        <tr>
                            <th class="col-1">Applicant Data</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="user in users" ng-switch on="isSelUser(user)" ng-click="selUser(user,$index)">
                        <tr ng-switch-when="true">
                            <td> Name: </td>
                            <td colspan="2" class="desc">{{user.name}}</td>
                        </tr>
                        <tr ng-switch-when="true">
                            <td> ID:</td>
                            <td colspan="2" class="desc">{{user.id}}</td>
                        </tr>
                        <tr ng-switch-when="true">
                            <td>Phone Number: </td>
                            <td colspan="2" class="desc">{{user.phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>
